<!DOCTYPE html>
<!--
  -- Proximity Ionic App
  --
  -- Copyright 2016 Jeroen van Grondelle, All rights reserved
  --
  -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="js/ng-cordova-beacon.js"></script>
    <script src="js/angular-timeago.js"></script>
    <script src="js/proximity.js"></script>

    <script src="js/app.js"></script>
  </head>
  <body ng-app="proximity.app" ng-controller="AppController">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Proximity</h1>
      </ion-header-bar>
      <ion-tabs has-header="true">
        <ion-tab title="Beacons" icon-on="ion-bluetooth" icon-off="ion-bluetooth">
          <ion-nav-view>
            <ion-content>
              <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="(key, value) in beacons" type="item-text-wrap">
                  <img ng-src="img/beacon.jpeg">
                  <h2>{{value.major}}-{{value.minor}}</h2>
                  <p>Distance:
                    {{value.accuracy}}</p>
                  <span ng-hide="proximity.getMissCount(value.uuid+':'+value.major+':'+value.minor) == 0" class="badge badge-assertive">{{proximity.getMissCount(value.uuid+":"+value.major+":"+value.minor)}}</span>
                </ion-item>
              </ion-list>
            </ion-content>
          </ion-nav-view>
        </ion-tab>
        <ion-tab title="Events" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
          <ion-nav-view>
            <ion-content>
              <ion-list>
                <ion-item ng-repeat="event in events | reverse" type="item-text-wrap" class="item-icon-left">
                  <i class="icon {{event.icon}}"></i>
                  <h2>{{event.message}}</h2>
                  <p>
                    <time-ago from-time="{{event.date}}"></time-ago>
                  </p>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ion-nav-view>
          </ion-tab>
        </ion-tabs>
      </ion-pane>
    </body>
  </html>
